*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}
body{
    background: rgb(28, 28, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 40%;
    background: whitesmoke;
    border-radius: 2%;
    padding: 20px;
}
h3{
    font-size: 2.5em;
    text-align: center;
    padding: 20px;
    font-weight: 400;
}
.quote{
    font-size: 1.6em;
    font-weight: 300;
    text-align: center;
    padding: 2px;
}
.author{
    display:flex;
    justify-content: flex-end;
    border-bottom:1px solid rgb(203, 199, 199) ;
    padding: 20px;
    font-style: italic;
}
.footer{
    padding: 35px 4px 10px;
    display: flex;
    justify-content: space-between;
}
.icons span{
    padding: 13px;
    color: rgb(28, 28, 254);
    border: 1px solid rgb(186, 186, 209);
    border-radius: 50%;  
    cursor: pointer;
}
.icons span:hover{
    background: rgb(28, 28, 254);
    color: aliceblue;
}
button{
    background-color: rgb(28, 28, 254);
    padding: 16px;
    border-radius: 20%;
    border: none;    
    font-size: 1em;
    font-weight: 100;
    color: aliceblue;
    cursor: pointer;

}
.loading{
    opacity: 0.6;
    pointer-events: none ;
}
@media  screen and (max-width:450px) {
    .container{
        width: 80%;
    }
}