.carousel{
    
    
}
.carousel-item{
    display: none;
}
.carousel-item-visible{
    display: block;

}
.carousel-item img{
    width: 100%;

}
button{
    font-size: 30px;
    font-weight: ;

}
.container{
    max-width: 600px;
    position: relative;
    margin: auto;
}
.carousel-actions{
    transition: 0.6s ease
}
#carousel-button-prev{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 2%;

}
#carousel-button-next{
    left: 90%;
    position: absolute;
    top: 50%;
}
.text{
    font-size: 1.4em;
    position: absolute;
    top: 80%;
    left: 50%;
    color: white;

}