@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(234, 235, 237);

  font-family: "Roboto Condensed", sans-serif;
}
.container {
  width: 50%;
  min-height: 100vh;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  background-color: rgb(225, 225, 215);
  margin: auto;
}

.hero_image img {
  width: 100%;
  height: 300px;
  margin: auto;
  border-radius: 10px 10px 0 0;
}
.task_wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: space-between;
  /* position: relative; */
}
.nav {
  background-color: rgb(210, 224, 224);
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 5px;
  position: sticky;
  top: 0px;
  /* left: 0; */

}
.nav .profile{
  padding: 20px;
}
.nav .profile img{
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.menu{
  margin-top: 80px;
  background: rgba(177, 187, 187, 0.4);

  height: ;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  cursor: pointer;
}
.menu div{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 15px 0;
  
}

.exit {
  margin-top: 50px;
  display: flex;
  
  align-items: center;
  cursor: pointer;
}


.task_container {
  margin-top: 20px;
}
.task {
  margin: 10px 0;
  background: rgb(234, 235, 237);
  display: grid;
  grid-template-columns: 10% 80% 10%;
  justify-content: space-around;
  align-items: center;
}
.task input {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
  accent-color: rgb(247, 244, 248);
}
.task .title {
  text-transform: capitalize;
}
#true .input {
  opacity: 0.2;
}
.task_container_Form {
  position: relative;
  width: fit-content;
}
#true .title {
  color: rgb(138, 6, 43);
}

.form {
  position: absolute;
  top: 2%;
  right: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(9, 2, 27);
  padding: 10px;
  display: none;
  border-radius: 10px;
}
label {
  color: white;
}
.title_input {
  padding: 8px;
  outline: none;
  font-size: 1.2rem;
  width: 100%;
}

.btns {
  display: flex;
  gap: 10px;
  margin: 0 20px;
}
.cancel,
.submit {
  padding: 7px;
}
@media screen and (max-width: 950px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 650px) {
  .container {
    width: 95%;
  }

  .nav .profile {
    padding: 20px 5px;
  }
}
@media screen and (max-width: 450px) {
  .container {
    width: 99%;
  }
  .hero_image img {
    height: 150px;
  }
}
